.heading {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color:rgb(65, 65, 65);
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.profile {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    color:rgb(65, 65, 65);
}
.bar {
    width: 25%;
}
.menu {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    color:rgb(65, 65, 65);
}
.toolbar {
    table-layout: fixed;
    width: 100%;
}
.description {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    color:rgb(65, 65, 65);
}
table, tr, th {
    border-collapse: collapse;
}
body {
    background-color: rgb(255, 244, 227);
}